
/*  ---------------  Traditional way  -----------------

body { background-color: #1e90ff; }

h2 { border-bottom: 2px solid #1e90ff; }

.container {
  color: #1e90ff;
  background-color: #ffffff;
  padding: 15px;
}

*/


/*  ---------------  Use o var() -----------------

var(--name, value)
name = required. The variable name (must start with two dashes)
value = optional. The fallback value (used if the variable is not found)

*/

:root {
  --blue: #6495ed;
  --light_white: #fafafa;
  --light_blue: #dfe6f2;
  --navbar_color: blue
}

/*  ---------------------------  Home page ----------------------------- */

/* ------- Menu  ------- */
.collapse {
    background-color: var(--light_white);
    font-size: 20px;
    padding: 20px;
    justify-content: space-around;
}

.nav-item {
   margin-right: 40px;
}

/* ------- Conjunto de containers da home page  ------- */
.containers-index {
  padding: 15px;
}

.container-index_header {
  padding: 10%;
  background-color: var(--light_blue);
  background-image: url("background_img/panoramica_serra_sintra.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.container-index_header > H1 {
  color: #FFFFFF;
  font-size: xxx-large;
  text-align: center;
}

.container-index_o_que_fazemos {
  background-color: var(--light_white);
  padding: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container-index_quem_somos {
  background-color: var(--light_blue);
  padding: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container-index_nossas_publicacoes {
  background-color: var(--light_white);
  padding: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container-index_fale_conosco {
  background-color: var(--light_blue);
  padding: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.text_containers-index{
    text-align: center;
    padding: 10px;
    min-height: 200px;
    min-width: 350px;
    max-width: 600px;
}

.image_containers-index{

}

/*  ---------------------------  O que fazemos page ----------------------------- */

.header_oquefazemos {
  padding: 80px;
  font-size: 60px;
  background-color: var(--light_blue);
  background-image: url("background_img/laptop-g4ffb9d3da_1920.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  color: #FFFFFF;
}

.flex_container_o_que_fazemos {

  background-color: var(--light_white);
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
/*
@media (max-width: 970px) {
  .flex_container_o_que_fazemos {
    flex-direction: column;
  }
}
*/

.flex_items_o_que_fazemos {

  /* flex-shrink: 0;  */ /* do not let the flex items shrink...*/
  /*flex-grow: 1;*/
  margin: 10px;
  /*border: 10px solid black;*/
  padding: 10px;
  max-width: 450px;
  height: 350px;
  background-color: #f1f1f1;
  /*  width:fit-content;
  height:fit-content;*/
}

/*  ---------------------------  Quem somos page ----------------------------- */

.header_quemsomos {
  padding: 80px;
  font-size: 60px;
  background-color: var(--light_blue);
  background-image: url("background_img/people-g3be3b36c7_1920.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  color: #FFFFFF;
}

.container_quem_somos {
  background-color: var(--light_white);
  padding: 20px;
}

.quem_somos_texto {
  background-color: #f1f1f1;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 20px;
}

/* Flex container */
.quem_somos_perfis {
  background-color: var(--light_blue);
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

}

/* Flex item */
.quem_somos_perfil {
  min-width: 350px;
  max-width: 800px;
  height: 350px;
}

/*
.quem_somos_perfil > div {
  margin-right: 5px;
}
*/


/*  ---------------------------  Nossas publicacoes page ----------------------------- */

.header_nossaspublicacoes {
  padding: 80px;
  font-size: 60px;
  background-color: var(--light_blue);
  background-image: url("background_img/post-g17d539517_1920.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  color: #FFFFFF;
}

.container_nossas_publicacoes {
  background-color: var(--light_white);
}

.post_container {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.post_text_container {
    padding-left: 10px;
    max-width: 900px;
    min-width: 350px;
}

.post_image_container {

}


/*
.post_container > div {
    margin-right: 10px;
}
*/

.link_to_post:link {
  color: black;
  text-decoration: none;
}

.link_to_post:visited {
  color: black;
  text-decoration: none;
}

.link_to_post:hover {
  color: blue;
  text-decoration: none;
}

.link_to_post:active {
  color: blue;
  text-decoration: none;
}


/*  ---------------------------  Fale conosco page ----------------------------- */

.header_faleconosco_page {
  padding: 80px;
  font-size: 60px;
  background-color: var(--light_blue);
  background-image: url("background_img/contact-us-g988677dd3_1920.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  color: #FFFFFF;
}

.container_fale_conosco_page {
  background-color: white;
  padding: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.container_item_fale_conosco {
  /* margin-right: 5px; */
  padding: 10px;
  width: 300px;
  height: 150px;
  /*flex-shrink: 0;*/
}


/*  ---------------------------  página de cada publicação ----------------------------- */

.container_publicacao{
  background-color: var(--light_white);
  border: groove;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  width: 1000px;
}

.header_publicacao {
   text-align:center;
   margin-top: 20px;
}

.foto_publicacao {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.texto_publicacao {
    display: block;
    padding-top: 20px;
    padding-right: 150px;
    padding-left: 150px;
    padding-bottom: 20px;
    width: 1000px;
    height: 1300px;
}

.ver_todos_posts {
  display: block;
  margin-top: 10px;
  text-align:center;
}

