<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conecta | Fale conosco</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/sitestyle.css">
</head>
<body>

<!-- Included Popper and  JS separately. If you don’t plan to use dropdowns, popovers, or tooltips, save some kilobytes by not including Popper. -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>


    <nav class="navbar navbar-expand-lg bg-light" >
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="static/conectalogotipo/LogotipoConecta.png" width="80" height="80" >
        </a>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/oquefazemos">O que fazemos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/quemsomos">Quem somos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/nossaspublicacoes">Nossas publicações</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/faleconosco">Fale conosco</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>

    <header class="header_faleconosco_page">
         <h1>Fale conosco</h1>
    </header>

    <div class="container_fale_conosco_page">

      <div>
          <p>Cassiana Vasconcelos</p>
          <p><a href="mailto:cassiana.a.vasconcelos@gmail.com">cassiana.a.vasconcelos@gmail.com</a></p>
          <p>+351 962 259 420</p>
      </div>
      <div>
          <p>André Vasconcelos</p>
          <p><a href="mailto:andre.vasconcelos.mail@gmail.com">andre.vasconcelos.mail@gmail.com</a></p>
          <p>+351 962 259 249</p>
      </div>
      <div>
          <a href="http://linkedin.com/company/conecta-pt" target="_blank">
             <img src="static/img/linkedin.png" width="80" height="80" >
          </a>
          <a href="https://www.facebook.com/conectapt/" target="_blank">
             <img src="static/img/facebook.png" width="80" height="80" >
          </a>
      </div>
    </div>




</body>
</html>