{% extends "base.html" %}

{% block content %}


    <header class="header_faleconosco_page">
         <h1>Fale conosco</h1>
    </header>

    <div class="container_fale_conosco_page">

      <div>
          <p>Cassiana Vasconcelos</p>
          <p><a href="mailto:cassiana.a.vasconcelos@gmail.com">cassiana.a.vasconcelos@gmail.com</a></p>
          <p>+351 962 259 420</p>
      </div>
      <div>
          <p>André Vasconcelos</p>
          <p><a href="mailto:andre.vasconcelos.mail@gmail.com">andre.vasconcelos.mail@gmail.com</a></p>
          <p>+351 962 259 249</p>
      </div>
      <div>
          <a href="http://linkedin.com/company/conecta-pt" target="_blank">
             <img src="static/img/linkedin.png" width="80" height="80" >
          </a>
          <a href="https://www.facebook.com/conectapt/" target="_blank">
             <img src="static/img/facebook.png" width="80" height="80" >
          </a>
      </div>
    </div>


{% endblock content %}