{% extends "base.html" %}

{% block content %}

  <div class="containers-index">

    <div class="container-index_header">
      <h1>Somos a sua conexão com Portugal, para a realização da sua realocação, investimentos e empreendedorismo no país.
      </h1>
    </div>

    <div class="container-index_o_que_fazemos">
      <div class="image_containers-index">
        <img src="static/img/building-g6b0182160_1280.png"  width="200" height="200">
      </div>

      <div class="text_containers-index">
        <h2>O que fazemos</h2>
        <p>Para quem pretende mudar-se para portugal, empreender ou investir no seu mercado imobiliário, nós ajudamos neste processo.</p>
        <button id="button1" type="button" class="btn btn-secondary">Nossos serviços</button>

      </div>

    </div>

    <div class="container-index_quem_somos">

      <div class="text_containers-index">
        <h2>Quem somos</h2>
        <p>Passamos por experiências de mudança de países, e percebemos o quão importante é ter alguém que
        seja a ligação com o novo destino.</p>
        <button id="button2" type="button" class="btn btn-secondary">Sobre nós</button>
      </div>

      <div class="image_containers-index">
        <img src="static/img/stick-people-gf5d5baa00_1280.png" width="200" height="200">
      </div>
    </div>

    <div class="container-index_nossas_publicacoes">
      <div class="image_containers-index">
        <img src="static/img/laptop-ge1e6bc297_1280.png"  width="200" height="200">
      </div>
      <div class="text_containers-index">
        <h2>Nossas publicações</h2>
        <p>Veja os nossos posts!</p>
        <button id="button3" type="button" class="btn btn-secondary">Publicações</button>
      </div>
    </div>

    <div class="container-index_fale_conosco">
      <div class="text_containers-index">
        <h2>Fale conosco</h2>
        <p>Estamos aqui para ajudá-lo. Entre em contato por telefone, email ou redes sociais.</p>
        <button id="button4" type="button" class="btn btn-secondary">Contato</button>
      </div>
      <div class="image_containers-index">
        <img src="static/img/telephone-g82df7d2f0_1280.png" width="200" height="200">
      </div>


    </div>

  </div>

  <script type="text/javascript">
      document.getElementById("button1").onclick = function () {
          location.href = "/oquefazemos";
      };
      document.getElementById("button2").onclick = function () {
          location.href = "/quemsomos";
      };

      document.getElementById("button3").onclick = function () {
          location.href = "/nossaspublicacoes";
      };
      document.getElementById("button4").onclick = function () {
          location.href = "/faleconosco";
      };

  </script>


{% endblock content %}