{% extends "base.html" %}

{% block content %}

    <header class="header_nossaspublicacoes">

         <h1>Nossas publicações</h1>

    </header>

    <div class="flex_container_nossas_publicacoes">

        <!-- POST 2 -->
        <div class="post_container">
          <div class="post_image_container">
              <img class="post_image" src="static/img/cascais-portugal.jpeg" width="350" height="250">
          </div>
          <div class="post_text_container" >
              <a href="/nossaspublicacoes-2" class="link_to_post">
                <h5>Mudar para Portugal: O que levar em conta</h5>
                <h6>Aug 16, 2018</h6>
                <p>Se você pensou ou está pensando em mudar de país, é bem possível que seu objetivo
                    seja motivado por uma ou mais das seguintes razões...</p>
              </a>
          </div>
        </div>

        <!-- POST 1 -->
        <div class="post_container">
          <div class="post_image_container">
              <img class="post_image" src="static/img/zermatt.jpeg" width="350" height="250">
          </div>
          <div class="post_text_container">
              <a href="/nossaspublicacoes-1" class="link_to_post" >
                <h5>Um pouco da nossa história...</h5>
                <h6>Jul 30, 2018</h6>
                <p>Em 2014 iniciamos uma nova etapa em nossas vidas, mudamos para Londres "de mala e cuia"
                    em consequência da transferência do André a trabalho. Mudar de país ...</p>
              </a>
          </div>
        </div>

    </div>

{% endblock content %}

