{% extends "base.html" %}

{% block content %}

    <header class="header_oquefazemos">
         <h1>O que fazemos</h1>
    </header>

    <div class="flex_container_o_que_fazemos">

      <div>
          <h3>Relocation services</h3>
          <ul>
              <li>Informações personalizadas sobre regiões e serviços de interesse, como áreas para morar, escolas, provedores de serviços, etc. Fazemos tour e as visitas que forem necessárias.</li>
              <li>Elaboração de planilha com custo de vida baseada nas suas necessidades específicas.</li>
              <li>Indicação de profissionais da nossa confiança como advogados, arquitetos, tributaristas, dentre outros.</li>
          </ul>
      </div>
      <div>
          <h3>Assessoria imobiliária</h3>
          <ul>
              <li>Assessoria para encontrar o imóvel que deseja comprar ou alugar. Fazemos todo o contato e agendamentos com imobiliárias, e acompanhamos nosso cliente até fechar negócio.</li>
          </ul>
      </div>
      <div>
          <h3>Gestão pré-habitação</h3>
          <ul>
              <li>Gestão do que for necessário para que o imóvel esteja habitável, como o acompanhamento de reformas, mudanças, instalações, mobílias e decoração em geral.</li>
          </ul>
      </div>
      <div>
          <h3>Administração imobiliária</h3>
          <ul>
              <li>Fazemos a administração geral do imóvel, esteja vazio ou alugado (gestão de contratos de aluguel, correspondências, pagamentos, empresas de utilities, sistema de segurança, limpeza, manutenções de piscina e jardim, etc.).</li>
          </ul>
      </div>
      <div>
          <h3>Assessoria para empreendedorismo</h3>
          <ul>
              <li>Mentoria para modelagem e elaboração de planos de negócio.</li>
              <li>Conexão com ecossistema empreendedor, pessoas e entidades.</li>
              <li>Parceria com especialistas que prestarão o suporte em atividades como a estruturação da empresa, contabilidade, impostos, programas de incentivo a inovação e o empreendedorismo, pesquisas e análises de mercado, dentre outros.</li>
          </ul>
      </div>


    </div>


{% endblock content %}