<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conecta | O que fazemos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/sitestyle.css">
</head>

<body>


<!-- Included Popper and  JS separately. If you don’t plan to use dropdowns, popovers, or tooltips, save some kilobytes by not including Popper. -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>


    <nav class="navbar navbar-expand-lg bg-light" >
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="static/conectalogotipo/LogotipoConecta.png" width="80" height="80" >
        </a>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/oquefazemos">O que fazemos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/quemsomos">Quem somos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/nossaspublicacoes">Nossas publicações</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/faleconosco">Fale conosco</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>

    <header class="header_oquefazemos">
         <h1>O que fazemos</h1>
    </header>


    <div class="flex_container_o_que_fazemos">

      <div>
          <h3>Relocation services</h3>
          <ul>
              <li>Informações personalizadas sobre regiões e serviços de interesse, como áreas para morar, escolas, provedores de serviços, etc. Fazemos tour e as visitas que forem necessárias.</li>
              <li>Elaboração de planilha com custo de vida baseada nas suas necessidades específicas.</li>
              <li>Indicação de profissionais da nossa confiança como advogados, arquitetos, tributaristas, dentre outros.</li>
          </ul>
      </div>
      <div>
          <h3>Assessoria imobiliária</h3>
          <ul>
              <li>Assessoria para encontrar o imóvel que deseja comprar ou alugar. Fazemos todo o contato e agendamentos com imobiliárias, e acompanhamos nosso cliente até fechar negócio.</li>

          </ul>
      </div>
      <div>
          <h3>Gestão pré-habitação</h3>
          <ul>
              <li>Gestão do que for necessário para que o imóvel esteja habitável, como o acompanhamento de reformas, mudanças, instalações, mobílias e decoração em geral.</li>
          </ul>
      </div>
      <div>
          <h3>Administração imobiliária</h3>
          <ul>
              <li>Fazemos a administração geral do imóvel, esteja vazio ou alugado (gestão de contratos de aluguel, correspondências, pagamentos, empresas de utilities, sistema de segurança, limpeza, manutenções de piscina e jardim, etc.).</li>
          </ul>
      </div>
      <div>
          <h3>Assessoria para empreendedorismo</h3>
          <ul>
              <li>Mentoria para modelagem e elaboração de planos de negócio.</li>
              <li>Conexão com ecossistema empreendedor, pessoas e entidades.</li>
              <li>Parceria com especialistas que prestarão o suporte em atividades como a estruturação da empresa, contabilidade, impostos, programas de incentivo a inovação e o empreendedorismo, pesquisas e análises de mercado, dentre outros.</li>
          </ul>
      </div>


    </div>


</body>

</html>