{% extends "base.html" %}

{% block content %}

    <header class="header_nossaspublicacoes">
         <h1>Nossas publicações</h1>
    </header>

    <a href="/nossaspublicacoes" class="ver_todos_posts" >Ver todos...</a>

    <div class="container_publicacao">


            {% if post == "1" %}
              <div class="header_publicacao">
                  <h2> Um pouco da nossa história... </h2>
                  <h5> Jul 30, 2018 </h5>
              </div>
              <img class="foto_publicacao" src="static/img/zermatt.jpeg" width="525" height="375">
              <iframe class="texto_publicacao" src="static/posts/post1_nossahistoria.html" > </iframe>


            {% elif post == "2" %}
              <div class="header_publicacao">
                  <h2> Mudar para Portugal: O que levar em conta </h2>
                  <h5> Aug 16, 2018 </h5>
              </div>
              <img class="foto_publicacao" src="static/img/cascais-portugal.jpeg" width="525" height="375">
              <iframe class="texto_publicacao" src="static/posts/post2_mudancaportugal.html" > </iframe>

            {% endif %}


    </div>

{% endblock content %}