<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conecta | Quem somos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/sitestyle.css">
</head>
<body>


<!-- Included Popper and  JS separately. If you don’t plan to use dropdowns, popovers, or tooltips, save some kilobytes by not including Popper. -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>


    <nav class="navbar navbar-expand-lg bg-light" >
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="static/conectalogotipo/LogotipoConecta.png" width="80" height="80" >
        </a>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/oquefazemos">O que fazemos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/quemsomos">Quem somos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/nossaspublicacoes">Nossas publicações</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/faleconosco">Fale conosco</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>

    <header class="header_quemsomos">

         <h1>Quem somos</h1>

    </header>


    <div class="flex_container_quem_somos">

      <div class="quem_somos_texto">
          <h4> Nos últimos anos, passamos por três experiências de mudança de países. Nestas mudanças
              sentimos o quão importante é ter alguém que seja a ligação com o novo destino, e que nos ajude
              a economizar dinheiro, ganhar tempo, e o mais importante, que nos ajude a realizar nossos objetivos
              e sonhos.
          </h4>
      </div>

      <div class="quem_somos_perfis">
          <div class="quem_somos_perfil">
              <div>
                  <img src="static/img/foto perfil rede social andre.jpg"  width="100" height="100">
              </div>
              <div>
                  <h6>André Vasconcelos</h6>
                  <p><a href="mailto:andre.vasconcelos.mail@gmail.com">andre.vasconcelos.mail@gmail.com</a></p>
                  <p>+351 962 259 249</p>
                  <p>Brasileiro, formado em análise de sistemas, pai do Ian e da Clara, e esposo da Cassiana.
                      Após trabalhar mais de 30 anos no mercado financeiro, decidiu mudar de vida e começar
                      uma nova experiência em Portugal como consultor e empresário. </p>
              </div>
          </div>

          <div class="quem_somos_perfil">
              <div>
                  <img src="static/img/foto perfil rede social cassi.jpg"  width="100" height="100">
              </div>
              <div>
                  <h6>Cassiana Vasconcelos</h6>
                  <p><a href="mailto:cassiana.a.vasconcelos@gmail.com">cassiana.a.vasconcelos@gmail.com</a></p>
                  <p>+351 962 259 420</p>
                  <p>Brasileira, médica e mãe do Ian e da Clara. Deu uma pausa na sua profissão para acompanhar
                      o marido, André, quando ele foi transferido para trabalhar no exterior. Passou por
                      experiências na Inglaterra, Suíça e Portugal, onde reside atualmente.  </p>
              </div>
          </div>
      </div>
    </div>

</body>
</html>