{% extends "base.html" %}

{% block content %}

    <header class="header_quemsomos">

         <h1>Quem somos</h1>

    </header>


    <div class="container_quem_somos">

      <div class="quem_somos_texto">
          <h4> Passamos por três experiências de mudança de países, e sentimos o quão importante é ter alguém que
              seja a ligação com o novo destino, que nos ajude a tomar as melhores decisões, sejam elas de investimento, moradia,
              ou qualquer outro assunto relacionado com o novo destino.
          </h4>

      </div>

      <div class="quem_somos_perfis">
          <div class="quem_somos_perfil">
              <div>
                  <img src="static/img/foto perfil rede social andre.jpg"  width="100" height="100">
              </div>
              <div>
                  <h6>André Vasconcelos</h6>
                  <p><a href="mailto:andre.vasconcelos.mail@gmail.com">andre.vasconcelos.mail@gmail.com</a></p>
                  <p>+351 962 259 249</p>
                  <p>Brasileiro, formado em análise de sistemas, pai do Ian e da Clara, e esposo da Cassiana.
                      Após trabalhar mais de 30 anos no mercado financeiro, decidiu mudar de vida e começar
                      uma nova experiência em Portugal como consultor e empresário. </p>
              </div>
          </div>

          <div class="quem_somos_perfil">
              <div>
                  <img src="static/img/foto perfil rede social cassi.jpg"  width="100" height="100">
              </div>
              <div>
                  <h6>Cassiana Vasconcelos</h6>
                  <p><a href="mailto:cassiana.a.vasconcelos@gmail.com">cassiana.a.vasconcelos@gmail.com</a></p>
                  <p>+351 962 259 420</p>
                  <p>Brasileira, médica e mãe do Ian e da Clara. Deu uma pausa na sua profissão para acompanhar
                      o marido, André, quando ele foi transferido para trabalhar no exterior. Passou por
                      experiências na Inglaterra, Suíça e Portugal, onde reside atualmente.  </p>
              </div>
          </div>
      </div>
    </div>

{% endblock content %}